In [0]:
import pandas as pd

census_population_df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv')
census_regions_df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv')

census_df = pd.merge(census_population_df, census_regions_df)
census_df.head()

        state      2010      2011  ...      2016  region            division
0     Alabama   4785492   4799918  ...   4863300   South  East South Central
1      Alaska    714031    722713  ...    741894    West             Pacific
2     Arizona   6408312   6467163  ...   6931071    West            Mountain
3    Arkansas   2921995   2939493  ...   2988248   South  West South Central
4  California  37332685  37676861  ...  39250017    West             Pacific

[5 rows x 10 columns]

In [0]:
census_pivot = census_df.pivot(index = '2010',columns= 'region', values='state')
census_pivot.head().reset_index()

region    2010       Midwest Northeast                 South     West
0       564513           NaN       NaN                   NaN  Wyoming
1       605183           NaN       NaN  District of Columbia      NaN
2       625982           NaN   Vermont                   NaN      NaN
3       674526  North Dakota       NaN                   NaN      NaN
4       714031           NaN       NaN                   NaN   Alaska