In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [5]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

edu_data = pd.read_sql_query('select * from useducation', con=engine)

edu_data.info()
edu_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...           207.963517                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN           258.859712
2     1992_ARIZONA     ARIZONA  ...           206.212716           262.169895
3    1992_ARKANSAS    ARKANSAS  ...           208.634458           264.619665
4  1992_CALIFORNIA  CALIFORNIA  ...           196.764414                  NaN

[5 rows x 25 columns]

In [15]:
floats= []

for col in edu_data:
  if edu_data[col].dtype == 'float64':
   floats.append(col)

for col in floats:
  edu_data.loc[:,col] = edu_data.loc[:,col].fillna(edu_data.loc[:,col].mean())

edu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1492 non-null   float64
 4   TOTAL_REVENUE                 1492 non-null   float64
 5   FEDERAL_REVENUE               1492 non-null   float64
 6   STATE_REVENUE                 1492 non-null   float64
 7   LOCAL_REVENUE                 1492 non-null   float64
 8   TOTAL_EXPENDITURE             1492 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1492 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1492 non-null   float64
 11  OTHER_EXPENDITURE             1492 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1492 non-null   float64
 13  GRADES_PK_G                   1492 non-null   float64
 14  GRADES_KG_G                   1492 non-null   float64
 15  GRADES_4_G                    1492 non-null   float64
 16  GRADES_8_G                    1492 non-null   float64
 17  GRADES_12_G                   1492 non-null   float64
 18  GRADES_1_8_G                  1492 non-null   float64
 19  GRADES_9_12_G                 1492 non-null   float64
 20  GRADES_ALL_G                  1492 non-null   float64
 21  AVG_MATH_4_SCORE              1492 non-null   float64
 22  AVG_MATH_8_SCORE              1492 non-null   float64
 23  AVG_READING_4_SCORE           1492 non-null   float64
 24  AVG_READING_8_SCORE           1492 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...           207.963517           263.267799
1      1992_ALASKA      ALASKA  ...           207.088116           258.859712
2     1992_ARIZONA     ARIZONA  ...           206.212716           262.169895
3    1992_ARKANSAS    ARKANSAS  ...           208.634458           264.619665
4  1992_CALIFORNIA  CALIFORNIA  ...           196.764414           265.519676

[5 rows x 25 columns]

In [19]:
grade_4_data = edu_data['GRADES_4_G']*(edu_data['AVG_MATH_4_SCORE'] + edu_data['AVG_READING_4_SCORE'])
grade_8_data = edu_data['GRADES_8_G']*(edu_data['AVG_MATH_8_SCORE'] + edu_data['AVG_READING_8_SCORE'])
edu_data['total average score'] = (grade_4_data + grade_8_data)/(edu_data['GRADES_4_G'] + edu_data['GRADES_8_G'])

edu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1492 non-null   float64
 4   TOTAL_REVENUE                 1492 non-null   float64
 5   FEDERAL_REVENUE               1492 non-null   float64
 6   STATE_REVENUE                 1492 non-null   float64
 7   LOCAL_REVENUE                 1492 non-null   float64
 8   TOTAL_EXPENDITURE             1492 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1492 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1492 non-null   float64
 11  OTHER_EXPENDITURE             1492 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1492 non-null   float64
 13  GRADES_PK_G                   1492 non-null   float64
 14  GRADES_KG_G                   1492 non-null   float64
 15  GRADES_4_G                    1492 non-null   float64
 16  GRADES_8_G                    1492 non-null   float64
 17  GRADES_12_G                   1492 non-null   float64
 18  GRADES_1_8_G                  1492 non-null   float64
 19  GRADES_9_12_G                 1492 non-null   float64
 20  GRADES_ALL_G                  1492 non-null   float64
 21  AVG_MATH_4_SCORE              1492 non-null   float64
 22  AVG_MATH_8_SCORE              1492 non-null   float64
 23  AVG_READING_4_SCORE           1492 non-null   float64
 24  AVG_READING_8_SCORE           1492 non-null   float64
 25  total average score           1492 non-null   float64
dtypes: float64(23), int64(1), object(2)
memory usage: 303.2+ KB

In [24]:
expenditure = ['TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE']
edu_data[['TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE','total average score']].corr()

                              TOTAL_EXPENDITURE  ...  total average score
TOTAL_EXPENDITURE                      1.000000  ...             0.210979
INSTRUCTION_EXPENDITURE                0.992757  ...             0.213350
SUPPORT_SERVICES_EXPENDITURE           0.992496  ...             0.228082
OTHER_EXPENDITURE                      0.945975  ...             0.162977
CAPITAL_OUTLAY_EXPENDITURE             0.928443  ...             0.137394
total average score                    0.210979  ...             1.000000

[6 rows x 6 columns]

In [31]:
X = edu_data[expenditure]
X = StandardScaler().fit_transform(X)
sklearn_pca = PCA(n_components=1)
edu_data['pca_1'] = sklearn_pca.fit_transform(X)
print(sklearn_pca.explained_variance_ratio_)

[0.95398481]

In [32]:
edu_data[['pca_1','TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE','total average score']].corr()

                                 pca_1  ...  total average score
pca_1                         1.000000  ...             0.195592
TOTAL_EXPENDITURE             0.995425  ...             0.210979
INSTRUCTION_EXPENDITURE       0.979863  ...             0.213350
SUPPORT_SERVICES_EXPENDITURE  0.988386  ...             0.228082
OTHER_EXPENDITURE             0.967836  ...             0.162977
CAPITAL_OUTLAY_EXPENDITURE    0.951477  ...             0.137394
total average score           0.195592  ...             1.000000

[7 rows x 7 columns]