In [0]:
fimport pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [0]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

edu_data = pd.read_sql_query('select * from useducation', con=engine)

edu_data.info()
edu_data.head()

In [0]:
# Determine all the variable types and find the fraction of the missing values for each variable.

def data_type(data):
  for col in data.columns:
    print('The data type for the {} column is {}.'.format(col, data[col].dtypes))
  
edu_data.isnull().sum()*100/edu_data.isnull().count()

In [0]:
'''
Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year.
Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense?
For which might tossing out the records entirely make sense?

Answer: If we look at the data, the only columns that are missing values are
the columns that are float continous variables. This makes filling the gaps
fairly easy as all you would have to do is fill in the gaps with some statistical
representative of the data set, such as the mean.
'''
fill_list = []
edu_data2 = edu_data.copy()
for col in edu_data:
  if edu_data[col].dtypes == 'float64':
    fill_list.append(col)
for col in fill_list:
  edu_data2.loc[:,col] = edu_data2.loc[:,col].fillna(edu_data2.loc[:,col].mean())

edu_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1492 non-null   float64
 4   TOTAL_REVENUE                 1492 non-null   float64
 5   FEDERAL_REVENUE               1492 non-null   float64
 6   STATE_REVENUE                 1492 non-null   float64
 7   LOCAL_REVENUE                 1492 non-null   float64
 8   TOTAL_EXPENDITURE             1492 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1492 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1492 non-null   float64
 11  OTHER_EXPENDITURE             1492 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1492 non-null   float64
 13  GRADES_PK_G                   1492 non-null   float64
 14  GRADES_KG_G                   1492 non-null   float64
 15  GRADES_4_G                    1492 non-null   float64
 16  GRADES_8_G                    1492 non-null   float64
 17  GRADES_12_G                   1492 non-null   float64
 18  GRADES_1_8_G                  1492 non-null   float64
 19  GRADES_9_12_G                 1492 non-null   float64
 20  GRADES_ALL_G                  1492 non-null   float64
 21  AVG_MATH_4_SCORE              1492 non-null   float64
 22  AVG_MATH_8_SCORE              1492 non-null   float64
 23  AVG_READING_4_SCORE           1492 non-null   float64
 24  AVG_READING_8_SCORE           1492 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [0]:
'''
Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year.
Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense?
For which might tossing out the records entirely make sense?

Using the same method from above, i would now take time into consideration

'''
edu_data3 = edu_data.copy()
years = edu_data['YEAR'].unique()
for col in fill_list:
  for year in years:
    edu_data3.loc[edu_data3['YEAR'] == year, col] = edu_data3.loc[edu_data3['YEAR'] == year,col].fillna(edu_data3[edu_data3['YEAR'] == year][col].mean())

In [0]:
edu_data4 = edu_data.copy()

for col in fill_list:
  edu_data4.loc[:,col] = edu_data4.loc[:,col].interpolate()